@import "tailwindcss";

@theme {
  --font-serif: "Georgia", serif;
  --color-dark-bg: #020203;
  --color-light-text: #f0f0f0;
}

.glass {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.grid-overlay {
  background-image: radial-gradient(rgba(255, 255, 255, 0.15) 1px, transparent 1px);
  background-size: 40px 40px;
}
